// Table layout
.category-list.with-topics {
  margin: 0;
  thead {
    display: none;
  }
  tbody {
    border-top: none;
  }
  tbody tr {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem 0;
    gap: 4rem;
    &:last-of-type {
      border-bottom: none !important;
    }
  }
  tbody td {
    border-bottom: none;
    padding: 0;
    &.topics {
      display: none;
    }
  }
}
// Cells layout
.category-list.with-topics {
  //Category cell
  tbody td.category {
    display: flex;
    flex-direction: column;
    width: unset;
    padding-left: 1rem;
    //border-left: none;
    .category-icon {
      margin-right: 0.5rem;
    }
    .subcategories {
      margin-top: 0.5rem;
    }
  }
  //Latest topics cell
  tbody td.latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .featured-topic:first-of-type {
      margin-top: 0;
    }
  }
}

// Font and color
.category-list.with-topics {
  .category-text-title {
    font-size: 1.5rem;
  }
  .category-icon {
    font-size: 2rem;
  }
  .featured-topic a.title {
    color: var(--primary);
  }
}
